{% extends "base.html" %}
{% load photoplanet_tags %}
{% load tagging_tags %}

{% block content %}
{% get_photoplanet_last "allioli" %}
<div class="photo23 article">
    <h2><a href="{{ photoplanet_last.link }}">Mirant...</a></h2>
    <div id="photo23-content">
        <a href="{{ photoplanet_last.link }}">
        <img src="{{ photoplanet_last.guid }}/standard/"></a>
<!--         <img src="/media/img/nyam.jpg"></a> -->
        {% if photoplanet_last.title %}<p><a href="{{ photoplanet_last.link }}">{{ photoplanet_last.title}}</a></p>{% endif %}
    </div>
</div>
<div>
</div>
    
{% for object in object_list %}
<div class="article">
    <h2 class="title"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
    <div class="body">
        {% if object.abstract %}{{ object.abstract }}
        {% else %}{{ object.body }}
        {% endif %}
    </div>
    
    <div class="footer meta">Jordi Funollet, {{ object.pub_date|date:"j-m-Y H:i" }} 
        {% tags_for_object object as tag_list %}
        {% if tag_list %}|| tags:
            {% for tag in tag_list %}{{ tag }} {% endfor %}
        {% endif %}
    </div>
  
    {% block comments %}{% endblock %}
</div>

{% endfor %}

{% endblock %}
