{% extends "base.html" %}
{% load photoplanet_tags %}
{% load txts_tags %}
{% load tagging_tags %}
{% load markup %}

{% block content %}
{% get_photoplanet_last "allioli" %}
<div class="photo23 article">
    <h2><a href="{{ photoplanet_last.link }}">Mirant...</a></h2>
    <div id="photo23-content">
        <a href="{{ photoplanet_last.link }}">
        <img src="{{ photoplanet_last.guid }}/standard/"></a>
        {% if photoplanet_last.title %}<p><a href="{{ photoplanet_last.link }}">{{ photoplanet_last.title}}</a></p>{% endif %}
    </div>
</div>
<div>
</div>
    
{% get_blog_last %}
<div class="article">
    <h2 class="title"><a href="{{ blog_last.get_absolute_url }}">{{ blog_last.name }}</a></h2>
    <div class="body">
        {% if blog_last.abstract %}{{ blog_last.abstract|markdown }}
        {% else %}{{ blog_last.body|markdown }}
        {% endif %}
    </div>
    
    <div class="footer meta">Jordi Funollet, {{ blog_last.pub_date|date:"j-m-Y H:i" }} 
        {% tags_for_object blog_last as tag_list %}
        {% if tag_list %}|| tags:
            {% for tag in tag_list %}{{ tag }} {% endfor %}
        {% endif %}
    </div>
  
    {% block comments %}{% endblock %}
</div>


{% endblock %}
