{% extends "base.html" %}
{% load markup %}

{% block content %}

{% for object in object_list %}
<div class="article">
    <h2 class="title"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
    <div class="body">
        {% if object.abstract %}{{ object.abstract|markdown }}
        {% else %}{{ object.body|markdown }}
        {% endif %}
    </div>
    
    <div class="footer meta">
        {% if object.author_name %}{{ object.author_name }}, {% endif %} 
        {{ object.pub_date|date:"j-m-Y H:i" }} 
        {% include "txts/txts_tags.html" %}
    </div>

    {% block comments %}{% endblock %}

</div>

{% endfor %}

{% endblock %}
