{% extends "base.html" %}

{% block content %}
<div class="article">
    <h2 class="title"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
    <div class="body">{{ object.body }}</div>
    
    <div class="footer"></div>
  
    <div class="footer meta">
        {% if object.author_name %}{{ object.author_name }}, {% endif %} 
        {{ object.pub_date|date:"j-m-Y H:i" }} 
        {% include "txts/txts_tags.html" %}
    </div>
    
    {% block comments %}{% endblock %}

</div>
{% endblock %}