{% extends "base.html" %}

{% block content %}

{% for object in object_list %}
<div class="article">
    <h2 class="title"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
    <div class="body">
        {% if object.abstract %}{{ object.abstract }}
        {% else %}{{ object.body }}
        {% endif %}
    </div>
    
    <div class="footer meta">Jordi Funollet, {{ object.pub_date|date:"j-m-Y H:i" }} || tags: 
        {% for tag in object.tags.all %}
        <a href="{{ tag.get_absolute_url }}" rel="tag">{{ tag.value }}</a>
        {% endfor %}
    </div>
  
    {% block comments %}{% endblock %}
</div>

{% endfor %}

{% endblock %}
